
.md-grid {
  max-width: 1500px;
}


.custom-iframe {
    border: 2px solid #d3c2ae; /* Viền màu be nhạt */
    background-color: #f5f5dc; /* Màu nền be nhạt */
    padding: 10px;
    border-radius: 8px;
    width: 100%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Bóng đổ nhẹ */
}
